.zoomIn {
  animation-name: zoomIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  transition-timing-function: ease-in;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  z-index: 999;
  position: fixed;
  right: 0;
  left: 0;
  top: -20px;
  @apply bg-white dark:bg-slate-800 px-5 h-20 max-[767px]:h-auto max-[767px]:-top-4 shadow-md
  shadow-slate-950/50 dark:shadow-white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
